.historial {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 20px;
}

.h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ul {
    list-style-type: none;
    padding: 0;
}

.historial li {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

h1{
    color: black;
}
.mensualidad{
    font-size: x-large;
    font-weight: bold;
    margin: 15px !important;
}